<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .row.content {height: 550px}
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2><i class="glyphicon glyphicon-user"></i> {{session['rollno']}}</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/results">Results</a></li>
        <li class="active"><a href="/auth">Start Quiz</a></li>
        <li class="active"><a href="/logout">Logout</a></li>
      </ul><br>
    </div>
    <br>
    <div class="col-sm-9">
      <div class="well">
        <h4 style="color: blueviolet">Dashboard</h4>
        <p>Roll Number  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  :&nbsp; <strong>{{data[0][0]}} </strong></p>
        <p>Student Name &nbsp;&nbsp;&nbsp;   :&nbsp; <strong>{{data[0][1]}} </strong></p>
        <p>Father Name &nbsp; &nbsp;&nbsp;&nbsp; : &nbsp;<strong>{{data[0][2]}}</strong></p>
        <p>Mother Name &nbsp; &nbsp;&nbsp; :&nbsp; <strong>{{data[0][3]}}</strong></p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Live Quiz</h4>
            <p>1</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>UpComming Quizes</h4>
            <p>0</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Total Quizes</h4>
            <p>0</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4 style="color: red;">Missing</h4>
            <p>0</p> 
          </div>
        </div>
      </div>
      <div class="row">
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Remarks</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Total Active sessions : 1</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
